@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #6c70d1;
  --color-border: #f4f3f8;
}

*,
input,
button,
::before,
::after {
  box-sizing: border-box;
}

.fade {
  opacity: 0;
}

.fade.fadeEnd {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f7fd;
}

.wrap {
  max-width: 1250px;
  margin: 0 auto;
  width: 90%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-right: 1rem;
}

header form {
  display: inline-flex;
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
  position: relative;
}

header form input[type="text"] {
  border: none;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  width: 100%;
  font-size: 0.9rem;
}

header form button {
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  border-radius: 0 0.3rem 0.3rem 0;
  border-left: 1px solid var(--color-border);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.message {
  position: absolute;
  top: 3rem;
  right: 0;
  border-radius: 0.2rem;
  display: flex;
  z-index: 10;
  padding-left: 0.5rem;
  overflow: hidden;
  opacity: 0;
}

.message .btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  padding: 0 0.3rem;
  margin-left: 0.3rem;
}

.message .btn i {
  font-size: 18px;
}

.message.warning {
  background-color: #fdda9a;
  border-left: 5px solid #f5a50c;
}

.message.warning .btn {
  background-color: #f5a50c;
}

.message.error {
  background-color: #fee1e0;
  border-left: 5px solid #fe96a0;
}

.message.error .btn {
  background-color: #fe96a0;
}

.weather {
  margin-top: 1rem;
  display: flex;
  /*
	align-items: flex-start;
	*/
}

.current-weather {
  width: 100%;
  color: #fff;
  border-radius: 0.4rem;
  padding: 5rem 1rem 1rem 1rem;
  position: relative;
  overflow: hidden;
}

.current-weather > div {
  display: flex;
  justify-content: space-between;
}

.current-weather img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

@supports (object-fit: cover) {
  .current-weather img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.current-weather::before {
  content: "Imagen ilustrativa";
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 0.4rem;
  color: var(--color-border);
}

.current-weather .data {
  display: inline-block;
}

.current-weather .data i {
  font-size: 2rem;
}

.current-weather .data .temp {
  font-size: 3.5rem;
  margin: 0.5rem 0;
}

.current-weather .data .city,
.current-weather .time {
  font-size: 1rem;
  font-weight: 300;
}

.current-weather .time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.current-weather .time p:first-child {
  font-weight: bold;
}

.current-weather .time p:last-child {
  margin-bottom: 1rem;
}

.current-weather .time > * {
  margin: 0 0 0.3rem 0;
}

.more-data-weather-current .row,
.weather-days {
  border: 1px solid var(--color-border);
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #fff;
  position: relative;
  align-self: flex-start;
}

.more-data-weather-current {
  display: flex;
  flex-direction: column;
  /*
	min-width: 250px;
	max-width: 350px;
	*/
}

.more-data-weather-current .row {
  display: flex;
  flex-wrap: wrap;
}

.more-data-weather-current .row:first-child {
  margin-bottom: 1rem;
}

.more-data-weather-current .row::before {
  content: " ";
  width: 1px;
  background-color: var(--color-border);
  height: 80%;
  position: absolute;
  top: 10%;
  left: calc(50% - 1px);
}

.more-data-weather-current .row .item {
  display: flex;
  align-items: center;
  width: calc(100% / 2);

  padding: 1.5rem 0;
}

.more-data-weather-current .row .item > div {
  position: relative;
  display: inline-block;
  padding-left: 2.2rem;
  min-width: 85%;
}

.more-data-weather-current .row .item:nth-child(even) > div {
  margin-left: auto;
}

.more-data-weather-current .row .item > div > i,
.more-data-weather-current .row .item > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
}

.more-data-weather-current .row .item > div i {
  color: var(--blue);
  font-size: 1.5rem;
}

.more-data-weather-current .row .item > div h4 {
  margin: 0;
  font-weight: 400;
}

.more-data-weather-current .row .item > div span,
.more-data-weather-current .row .item > div p {
  font-weight: bold;
  margin: 0.5rem 0;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.more-data-weather-current .row .item > div p i {
  margin-left: 0.5rem;
}

.weather-days {
  /*
				max-width: 900px;
				min-width: 250px;
				*/

  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 2%;
}

.weather-days .item {
  width: calc(100% / 2 - 20px);
  position: relative;
  margin: 10px;
  /*margin-bottom: 1rem;*/
}

.weather-days .item:last-child {
  /*	margin-bottom: 0;*/
  width: 100%;
}

.weather-days .item .btn-modal {
  display: flex;
  background: none;
  border: 1px solid var(--color-border);
  outline: none;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.weather-days .item button p {
  margin-left: 0.5rem;
}

.weather-days .item button .bx-down-arrow {
  margin-left: auto;
  transition: transform 500ms linear;
}

.weather-days .item .modal {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 300px;
  margin: auto;
  background-color: #fff;
  border: 1px solid var(--color-border);
  padding: 1rem;
  text-align: center;
  border-radius: 0.4rem;
  display: none;
  z-index: -1;
  opacity: 0;
}

.weather-days .item .modal i {
  font-size: 2.5rem;
}

.weather-days .item .modal .description {
  font-weight: 300;
  color: #b8b8b8;
}

.weather-days .item .modal .description:first-letter {
  text-transform: uppercase;
}

.weather-days .item .modal .data-temp {
  display: flex;
  justify-content: space-between;
}

.weather-days .item .modal .data-temp > div {
  width: calc(100% / 2);
}

.weather-days .item .modal .btn-closed-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.8rem;
  color: var(--blue);
}

.weather-days .item .modal.active {
  display: block;
  animation: fadeDown 700ms forwards;
}

@keyframes closedModal {
  from {
    transform: translateY(0);
  }

  to {
    z-index: 1;
    opacity: 0;
    transform: translateY(3rem);
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(3rem);
  }

  to {
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeRight {
  from {
    transform: translateX(3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(3rem);
  }
}
