
@media (max-width: 1181px){

    .container-right .cards .card{
        width: 210px;
    }

    .container-right .cards .card p{
        margin-bottom: 28px;
    }
}
@media (max-width: 1089px){
    .container-left {
        margin-right: 15px;
        margin-left: 15px;
    }
    .container-left .card-left{
        width: 215px;
    }
    .container-left .card-left p {
        margin-bottom: 26px;
    }
    .container-left .card-left .weather-left p {
        margin: 15px 8px;
    }
    .container-right{
        width: 67%;
    }
    .container-right .cards .card{
        width: 200px;
    }

    .container-right .cards .card p{
        margin-bottom: 21px;
    }
    .container-right .cards .card .weathers p {
        font-size: 17px;
        margin: 9px 3px;
    }
}
@media (max-width: 1011px){
    .container-left .card-left {
        width: 200px;
    }
    .container-left .card-left p {
        margin-bottom: 20px;
    }
    .container-right .cards .card {
        width: 185px;
    }
}
@media (max-width:944px){
    .container-right .cards .card {
        width: 28%;
    }
}
@media (max-width: 910px){
    .container-left .card-left{
        width: 180px;
    }
}
@media (max-width: 830px){
    .container-left .card-left{
        width: 160px;
    }
}
@media (max-width: 800px) and (orientation: portrait){
    .wrap {
        width: 100%;
        padding-top: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-left{
        width: 60%;
        height: 500px;
        margin-bottom: 40px;
    }
    .container-left .card-left{
        width: 230px;
        margin-top: 40px;
        
    }
    .container-left .card-left p{
        margin-bottom: 32px;
    }
    .container-right{
        width: 80%;
        height: 100%;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }
    
}
@media (max-width: 700px) and (orientation: portrait){
    .container-right .cards .card{
        width: 215px;
    }
    .container-right .cards .card p{
        margin-bottom: 28px;
    }
}
@media (max-width: 602px) and (orientation: portrait){
    .container-right .cards .card{
        width: 200px;
    }
    .container-right .cards .card p{
        margin-bottom: 20px;
    }
}
@media (max-width: 564px) and (orientation: portrait){
.container-right .cards .card{
        width: 180px;
    }
}
@media (max-width: 514px) and (orientation: portrait){
    .container-right .cards .card{
            width: 170px;
        }
}  
@media (max-width: 490px) and (orientation: portrait){
    .container-right .cards .card{
            width: 160px;
        }
}
@media (max-width: 465px) and (orientation: portrait){
    .container-left {
        width: 70%;
    }

    .container-left .card-left {
        width: 200px;
    }
    .container-left .card-left p {
        margin-bottom: 18px;
    }    

    .container-right .cards .card {
            width: 225px;
            padding-left: 11px;
        }
    .container-right .cards .card p{
            margin-bottom: 34px;
        }
    .container-right .cards .card .weathers p {
            margin: 13px 5px;
        }
}
@media (max-width: 340px) and (orientation: portrait){
    .container-left {
        width: 85%;
    }
}
@media (max-width: 318px) and (orientation: portrait){
    .container-right .cards .card {
        width: 210px;
    }
    .container-right .cards .card p {
        margin-bottom: 21px;
        margin-right: 1px;
    }
}
@media (max-width: 300px) and (orientation: portrait){
    .container-left {
        width: 80%;
    }
    .container-right .cards .card {
        width: 190px;
    }
}

@media (max-width: 280px) and (orientation: portrait){
    .container-left {
        width: 90%;
    }
    .container-left .card-left {
        width: 190px;
    }
}
@media (max-width: 950px) and (orientation: landscape){
    .wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container-left{
        width: 65%;
        height: 440px;
        margin-bottom: 35px;
    }
    .container-left form{
        width: 85%;
        display: block;
        text-align: center;
    }
    .container-left .card-left {
        width: 270px;
    }
    .container-left .card-left p {
        margin-bottom: 32px;
    }
    .container-left .card-left .weather-left p {
        margin: 27px 16px;
    }
    .container-left form input[type="submit"] {
        margin-left: 5px;
    }
    .container-right {
        width: 80%;
        height: 100%;
    }
}
@media (max-width: 862px) and (orientation: landscape){
    .container-left form input[type="text"] {
        width: 75%;
    }
}
@media (max-width: 700px) and (orientation: landscape){
    .container-left .card-left {
        width: 240px;
    }
    .container-left .card-left .weather-left p {
        margin: 27px 0px;
    }
    .container-right .cards .card {
        width: 215px;
    }
    .container-right .cards .card p {
        margin-bottom: 27px;
    }
    .container-right {
        width: 90%;
        height: 100%;
    }
}
@media (max-width: 536px) and (orientation: landscape){
    .container-right .cards .card {
        width: 210px;
    }
}

@media (max-width: 526px) and (orientation: landscape){
    .container-right .cards .card {
        width: 190px;
    }
    .container-right .cards .card p {
        margin-bottom: 22px;
    }
}
@media (max-width: 479px) and (orientation: landscape){
    .container-right .cards .card {
        width: 260px;
    }
    .container-right .cards .card p {
        margin-bottom: 34px;
    }
    
    .container-right .cards .card .weathers p {
        margin: 26px 3px;
    }
}
@media (max-width: 460px) and (orientation: landscape){
    .container-left {
    width: 75%;
}
}
@media (max-width: 380px) and (orientation: landscape){
    .container-left {
    width: 85%;
}
}
@media (max-width: 340px) and (orientation: landscape){
    .container-left .card-left {
        width: 200px;
    }
    .container-left .card-left p {
        margin-bottom: 19px;
    }   
    .container-left .card-left .weather-left p {
        margin: 10px 4px;
    } 
}
 